---
http_interactions:
- request:
    method: get
    uri: http://api.stackexchange.com/2.2/tags/ruby/info?page=1&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"has_synonyms":false,"is_moderator_only":false,"is_required":false,"count":119402,"name":"ruby"}],"has_more":false,"quota_max":300,"quota_remaining":39}'
  recorded_at: Tue, 18 Nov 2014 17:31:35 GMT
recorded_with: VCR 2.9.3
