---
http_interactions:
- request:
    method: get
    uri: http://api.wolframalpha.com/v2/query?appid=E6R6JY-G9X7Y4JPH3&input=ruby,clojue%20programming%20language
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?>
        <queryresult success='true'
            error='false'
            numpods='3'
            datatypes='Internet,People,ProgrammingLanguage'
            timedout=''
            timedoutpods=''
            timing='1.807'
            parsetiming='0.394'
            parsetimedout='false'
            recalculate=''
            id='MSPa104323055ia5d2efh817000067a1hig1ca246gd7'
            host='http://www5a.wolframalpha.com'
            server='62'
            related='http://www5a.wolframalpha.com/api/v2/relatedQueries.jsp?id=MSPa104423055ia5d2efh81700004eb3b84hgi527fh8&amp;s=62'
            version='2.6'>
         <pod title='Input interpretation'
             scanner='Identity'
             id='Input'
             position='100'
             error='false'
             numsubpods='1'>
          <subpod title=''>
           <plaintext>Ruby  (programming language)  |  Clojure  (programming language)</plaintext>
           <img src='http://www5a.wolframalpha.com/Calculate/MSP/MSP104523055ia5d2efh817000063g5dfg4hh83dh17?MSPStoreType=image/gif&amp;s=62'
               alt='Ruby  (programming language)  |  Clojure  (programming language)'
               title='Ruby  (programming language)  |  Clojure  (programming language)'
               width='458'
               height='18' />
          </subpod>
         </pod>
         <pod title='Basic properties'
             scanner='Data'
             id='Properties:ProgrammingL[...]
