---
http_interactions:
- request:
    method: get
    uri: http://api.wolframalpha.com/v2/query?appid=E6R6JY-G9X7Y4JPH3&input=ruby,clojue
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?>
        <queryresult success='true'
            error='false'
            numpods='3'
            datatypes='Internet,People,ProgrammingLanguage'
            timedout=''
            timedoutpods=''
            timing='2.382'
            parsetiming='0.278'
            parsetimedout='false'
            recalculate=''
            id='MSPa1401g51hg6g04d7fggh00000ibiad5f78d821ff'
            host='http://www3.wolframalpha.com'
            server='41'
            related='http://www3.wolframalpha.com/api/v2/relatedQueries.jsp?id=MSPa1411g51hg6g04d7fggh0000104ebd4ch9h50af3&amp;s=41'
            version='2.6'>
         <pod title='Input interpretation'
             scanner='Identity'
             id='Input'
             position='100'
             error='false'
             numsubpods='1'>
          <subpod title=''>
           <plaintext>Ruby  (programming language)  |  Clojure  (programming language)</plaintext>
           <img src='http://www3.wolframalpha.com/Calculate/MSP/MSP1421g51hg6g04d7fggh000027hg07cc91d0e8ei?MSPStoreType=image/gif&amp;s=41'
               alt='Ruby  (programming language)  |  Clojure  (programming language)'
               title='Ruby  (programming language)  |  Clojure  (programming language)'
               width='458'
               height='18' />
          </subpod>
         </pod>
         <pod title='Basic properties'
             scanner='Data'
             id='Properties:ProgrammingLan[...]
