---
http_interactions:
- request:
    method: get
    uri: http://api.wolframalpha.com/v2/query?appid=&input=ruby,clojue%20programming%20language
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?>
        <queryresult success='false'
            error='true'
            numpods='0'
            datatypes=''
            timedout=''
            timedoutpods=''
            timing='0.022'
            parsetiming='0.'
            parsetimedout='false'
            recalculate=''
            id=''
            host='http://www4b.wolframalpha.com'
            server='42'
            related=''
            version='2.6'>
         <error>
          <code>2</code>
          <msg>Appid missing</msg>
         </error>
        </queryresult>
  recorded_at: Tue, 18 Nov 2014 17:30:37 GMT
recorded_with: VCR 2.9.3
